<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <header>
      <a href="/">back</a>
      <a href="/<%= @original_currency%>">back</a>
    </header>
    <%= yield %>

  </body>
</html>
